body{
    align-items: center;
}
div{
    margin-left: 500px;
   margin-top: 100px;
    border: 2px solid rgb(16, 202, 244);
    text-align:center; 
   align-items: center;
    text-size-adjust:50px ;
    width: 251px;
    height: 350px;
    background: rgb(161, 234, 242);
    padding: 2px;
 }
table {
    border: 1px solid black;
   margin-left: 20px;
    width: 200px;
    height:250px;
}

    td {
        padding: 1px;
        width: 300px;
        height: 40px;
      }

